body {
}

#title {
    text-align: center;
}

#mainContent {
    padding-left: 15%;
    padding-right: 15%;
}

#prescTicket {
    padding: 2em;
    background-color: lightgrey;
}

#customerInput {
    width: 12em;
}
